*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}



.container{
	width:85%;
	margin:0 auto;
	padding-top: 44px;
	font-family: Verdana, sans-serif;
	
}

.col1{
	padding-bottom: 41px;
	position:relative;
}
.col1 h1{
	padding-bottom: 10px;
	background-color:white;
	display:inline;
	padding: 10px;
	
}

h1::before{
	content:" ";
	position:absolute;
	display:inline-block;
	height:2px;
	width:18%;
	background-color:red;
	top: 15px;
    left: 524px;
    z-index: -1;
	
}
.col2{
	display:flex;
	padding-bottom:38px;
}
.card-container2{
	padding-left: 89px;
	
}
	

.content{
	display:flex;
	padding-bottom: 32px;
	padding-top: 31px;
	border-top:3px solid;
	border-color:#80808082;
	position:relative;
}

.content::after{
	content:" ";
	position:absolute;
	top:-3px;
	left: -29px;
	background-color:red;
	height:3px;
	width:21px;
}

.content p{
	padding-top: 17px;
	color:gray;
}

.icon{
	font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28px;
	position:relative;
	color:#000000d9;
	
}


	
.circle{
	width:23px;
	height:23px;
	border-radius:50px;
	background-color:#ffc0cbe3;
	position:absolute;
	bottom: 22px;
    right: 20px;
}

.col1{
	text-align:center;
}